<div class="jumbotron">
    <h1>webAPIDemo</h1>
    <p class="lead">This demo has been developed for understand Web API structure and jquery usage, thanks for downloading my repository, check the source code and use it for your applications :)</p>
    <p><a href="https://localhost:44378/Employees/bringEmployee" class="btn btn-danger btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Get more knowledge about my works</h2>
        <p>You can check it out my other uploaded repositories on github!</p>
        <p><a class="btn btn-success" href="https://github.com/burakguler">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>

</div>
